
       body {
        display: flex;
        justify-content: center;
        height: 100%;
        height: 100vh;
        background: linear-gradient(90deg,#e52e71,#ff8a00);
        }
        body, div, h1, form, input, p { 
        padding: 0;
        margin-top: 40px;
        outline: none;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #666;
        }
        h1 {
        padding: 10px 0;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        }
        hr {
        color: #a9a9a9;
        opacity: 0.3;
        }
        .main-block {
        max-width: 340px; 
        min-height: 460px; 
        padding: 10px 0;
        margin: auto;
        border-radius: 5px; 
        border: solid 1px #ccc;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        background: #ebebeb; 
        }
        form {
        margin: 0 30px;
        }
         .icon {
        margin: 0;
        border-radius: 5px 0 0 5px;
        }
        
        input[type=text], input[type=password] {
        /*width: calc(100% - 57px);*/
        height: 36px;
        margin: 13px 0 0 -5px;
        padding-left: 10px; 
        border-radius: 0 5px 5px 0;
        border: solid 1px #cbc9c9; 
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #fff; 
        }
        input[type=text]:focus, input[type=password]:focus{
            border:1px solid #1c87c9;
        }
        input[type=password] {
        margin-bottom: 15px;
        }
        .icon {
        display: inline-block;
        padding: 9.3px 15px;
        box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
        background: #1c87c9;
        color: #fff;
        text-align: center;
        }
        .btn-block {
        margin-top: 10px;
        text-align: center;
        }
        button {
        width: 100%;
        padding: 10px 0;
        margin: 10px auto;
        border-radius: 5px; 
        border: none;
        background: #1c87c9; 
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        }
        button:hover {
        background: #26a9e0;
        }
        .back{
            text-align: center;
        }
        .back button{
            width: 30px;
            height: 30px;
            margin-top: 98px;
        }
        .back a{
            color: #fff;
        }
        /*=======wave animation=================*/
        
.slider-thumb::before {
	position: absolute;
	content: "";
	right: 70%;
	top: 20%;
	width: 450px;
	height: 450px;
	background: #17141d;
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
    
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
